<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin="" />
    <title>Document</title>
    <style>
      body {
        padding: 0;
        margin: 0;
      }
      html,
      body,
      #map {

        height: 100%;
        width: 100vw;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""></script>

    <script>

      var mapa = document.getElementById("map");
      var lat = parseFloat("{{ lat }}");
      var long = parseFloat("{{ long }}");
      var zoom = parseFloat("{{ zoom }}");
      var sizeMap = parseFloat("{{ sizeMap }}");
      var width = parseFloat("{{ sizeMap2 }}");


      mapa.style.height = sizeMap + "px";
      mapa.style.width = width + "px";

      var map = L.map("map").setView([lat, long], zoom);

      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
      
        attribution: "© OpenStreetMap",
      }).addTo(map);

      // Agregar marcador en las coordenadas especificadas
      var marker = L.marker([lat, long]).addTo(map);
      marker.bindPopup("{{pop}}  " + " zoom: " + zoom  + " size map: " + sizeMap  + " latitud: " + lat + " longitud: " + long).openPopup();
    </script>
  </body>
</html>
